@charset "UTF-8";

/* TODO: 여기에 작성해보세요 */

table.first{
    width: 100%;
    border-collapse: collapse; /* 이중실선 제거 */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #aaa;
    /* 그림자 x축 y축 블러 색상 */
}

table.first th{
    padding: 8px;
    background-color: rgb(51, 131, 255);
    color:antiquewhite;
    letter-spacing: 3px;
}

table.first th:nth-child(2){
    letter-spacing: 45px;
    text-align: center;
}

table.first td {
    padding: 10px;
    text-align: center;
}

table.first td:first-child{
    width: 10%;
}

table.first td:nth-child(2){
    width: 70%;
}

table.first td:last-child{
    width: 20%;
}

table.first tr:nth-child(odd){
    background-color: aquamarine;
}

table.first th,
table.first td{
    border-left: 1px solid #ccc;
}

table.first tr:hover {
    background-color: blueviolet;
    color: #ccc;
    cursor: pointer;
}


p:empty{
    margin: 50px;
}

table.second{
    width: 100%;
    border-collapse: collapse;
}

table.second th{
    padding: 8px;
    background-color: orange;
    color: #fff;
    letter-spacing: 3px;
}

table.second td {
    padding: 10px;
    text-align: center;
}

table.secound td:first-of-type{width: 15%;}
table.secound td:nth-of-type(2){width: 65%;}
table.secound td:last-of-type{width: 20%;}

/* nth of child 류는 자식요소 전체를 기준으로 순서 카운팅 */
section.part1 div:first-of-type {
    background-color: burlywood;
}

section.part1 div:last-of-type {
    background-color: coral;
}

section.part1 div:nth-of-type(2) {
    background-color: lightgreen;
}

section.part1 div:nth-last-of-type(2) {
    background-color: mediumpurple;
}


section.part2 div:first-child {
    background-color: burlywood;
}

section.part2 div:last-child {
    background-color: coral;
}

section.part2 div:nth-child(2) {
    background-color: lightgreen;
}

section.part2 div:nth-last-child(2) {
    background-color: mediumpurple;
}

/* 자식요소 중 홀수인 요소만 선택 */
/* TODO: 여기에 작성해보세요 */

/* 자식요소 중 짝수인 요소만 선택 */
/* TODO: 여기에 작성해보세요 */

/* TODO: 여기에 작성해보세요 */

/* :hover
    마우스가 요소에 올라가있는 상태 */
/* TODO: 여기에 작성해보세요 */

/* :empty
    내용이 없는 상태
*/
/* TODO: 여기에 작성해보세요 */

/* TODO: 여기에 작성해보세요 */

/* part1 : nth-of-type */
/* TODO: 여기에 작성해보세요 */

/* part2 : nth-child */
/* TODO: 여기에 작성해보세요 */


