.container{
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}

li {
    /* display: inline; */
    display: inline-block;
}

/* inline 크기 가지지않음 한줄 나란히 배치
block 크기 가지면서 한줄 전체 차지 하면서 배치
inline-block 크기 가지면서 한줄 나란히 배치 */

li{
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 10px 20px;
    text-align: center;
}

li:hover{
    background-color: #ddd;
    cursor: pointer;    
}

/* 화면안보이게 */
.none{display: none;}
.hidden{visibility: hidden;}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: royalblue;
}

.item{
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.item img{
    width: 100%;
}


/* flex */
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.col{
    flex-basis: 33.3333%;
    min-width: 33.3333%;
    padding: 0px 4px;
    box-sizing:border-box;
}
.col img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}